In [0]:
import numpy as np
import pandas as pd

In [0]:
data=pd.read_csv('train.csv')
#len(data)
#data.head()

In [3]:
y=pd.concat([data['label'],pd.get_dummies(data['label'],prefix='digit')],axis=1).drop(['label'],axis=1)
y=y.as_matrix()
print(y.shape)
#y=data['label'].as_matrix()
#y=y.reshape(-1,1)
#print(y.shape)

x=data.iloc[:,0:-1].as_matrix()
x0=np.ones((42000,1))
#normalize the data
x=x/255
x=np.concatenate((x0,x),axis=1)
print(x.shape)

(42000, 10)
(42000, 785)

In [0]:
def activation_function(z,activation):
  if activation=="sigmoid":
    a=1/(1+np.exp(-z))
    return a
  if activation=="softmax":
    a=np.exp(z)/(np.sum(np.exp(z)))
    return a

In [0]:
def update_weights_single_layer(x, w1, w2, step_size):
  for epochs in range(30):
    for i in range(len(data)):
      
      #forward pass code begins here --
      z1=np.dot(x[0].reshape(1,785),w1)
      #print("shape of z1",z1.shape)
      a1=activation_function(z1,'sigmoid')
      a1=a1.reshape(100,)
      #print("shape of a1",a1.shape)
      a1_b=(np.concatenate((np.ones(1),a1),axis=0)).reshape(1,101)   #a1_b is a1 with added bias
      #print("shape of a1_b",a1_b.shape)
      w2_b=np.concatenate((np.ones((1,10)),w2),axis=0)     #w2_b is the weight with added bias
      z2=np.dot(a1_b,w2_b)
      #print("shape of z2",z2.shape)
      a2=activation_function(z2,'softmax')
      #print("shape of a2",a2.shape)
      # --
      
      #cost function --
      log_pred=np.log(a2)
      cost=-(np.sum(y[0]*log_pred))
    
      # --

      #back prop code begins here--
      prod=y[0]*(a2-1)  #shape is (1,10)
      der_w2=prod*(a1).reshape(100,1)    
      #print(der_w2.shape)
      w2=w2-(step_size*der_w2) #shape is (100,10)   #updated w2
      #print("shape of updated w2",w2.shape)
      #print(w2)

      a1_reshape=a1.reshape(100,1)
      der_w1=(np.dot(np.dot(np.dot(np.dot(prod,w2.reshape(10,100)),a1),(a1-1).reshape(1,100)).reshape(100,1),x[0].reshape(1,785))).reshape(785,100)
      #print(der_w1.shape)
      w1=w1-(step_size*der_w1)   #updated w1 shape is (785,100)
      #print(w1)
      # --
    print("at epochs ", epochs)
    print("cost:", cost)
      # --
    #print(cost)

In [6]:
w1=np.random.rand(785,100) # w1 and w2 are the weights
w2=np.random.rand(100,10)
update_weights_single_layer(x, w1, w2, 0.0001)

at epochs  0
cost: 0.00023913837313722686

In [7]:
w1.shape

(785, 100)

## Testing **Data**
# Accuracy of 89.9%

In [0]:
test_data=pd.read_csv('mnist test.csv')

In [9]:
test_data=pd.concat([test_data,pd.get_dummies(test_data['label'],prefix='label')],axis=1).drop(['label'],axis=1)
test_data.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,label_0,label_1,label_2,label_3,label_4,label_5,label_6,label_7,label_8,label_9
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:

test_x0=np.ones((10000,1))
test_x=test_data.iloc[:,:784]/255  #divding by 255 to normalize the data in the range(0,255) 
test_final_x=np.concatenate((test_x0,test_x),axis=1)
count=0

for i in range(len(test_data)):
  z1=np.dot(test_final_x[i],w1)
  z1.reshape(1,100)
  a1=activation_function(z1,'sigmoid') 

  a1_b=(np.concatenate((np.ones(1),a1),axis=0)).reshape(1,101)   #a1_b is a1 with added bias
  #print(a1.shape)

  w2_b=np.concatenate((np.ones((1,10)),w2),axis=0)     #w2_b is the weight with added bias
  z2=np.dot(a1_b,w2_b)
  #print(z2.shape)
  a2=activation_function(z2,'softmax')
  
  test_y_true=test_data.iloc[i,784:]
  test_y_true=np.array(test_y_true)
    
  index=np.argmax(test_y_true)
  index2=np.argmax(a2)
  if(index==index2):
    count=count+1
count

980