In [0]:
import numpy as np
import pandas as pd

In [0]:
data=pd.read_csv('mnist train.csv')
test_data=pd.read_csv('mnist test.csv')

In [98]:
data=pd.concat([data,pd.get_dummies(data['label'],prefix='label')],axis=1).drop(['label'],axis=1)
data.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,label_0,label_1,label_2,label_3,label_4,label_5,label_6,label_7,label_8,label_9
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [99]:
x0=np.ones((60000,1))
x1=data.iloc[:,:784]/255  #divding by 255 to normalize the data in the range(0,255) 
print(x0.shape)
print(x1.shape)
final_x=np.concatenate((x0,x1),axis=1)
y_true=data.iloc[:,784:]
y_true=np.array(y_true)

(60000, 1)
(60000, 784)

In [0]:
def activation_fn(z,activation):
  if activation=='sigmoid':
    a=1/(1+np.exp(-z))
    return a
  if activation=='softmax':
    a=np.exp(z)/(np.sum(np.exp(z)))
    return a

In [0]:
def update_weights(x,y,w1,w2,step_size):
  z1=np.dot(x[0],w1)
  z1.reshape(1,100)
  a1=activation_fn(z1,'sigmoid') 
  
  a1_b=(np.concatenate((np.ones(1),a1),axis=0)).reshape(1,101)   #a1_b is a1 with added bias
  print(a1.shape)
 
  w2_b=np.concatenate((np.ones((1,10)),w2),axis=0)     #w2_b is the weight with added bias
  z2=np.dot(a1_b,w2_b)
  #print(z2.shape)
  a2=activation_fn(z2,'softmax')
  y=y[0]
  prod=y*(a2-1)  #shape is (1,10)
  der_w2=prod*(a1).reshape(100,1)    
  #print(der_w2.shape)
  w2=w2-(step_size*der_w2) #shape is (100,10)
  #print(w2)
  a1_reshape=a1.reshape(100,1)
  der_w1=prod*w2*a1_reshape*(1-a1_reshape)*x[0].reshape(785,1)
  print(der_w1.shape)

In [169]:
w1=np.random.rand(785,100) # w1 and w2 are the weights
w2=np.random.rand(100,10)
update_weights(final_x,y_true,w1,w2,0.0001)

(100,)

ValueError: ignored